

html {
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    overflow: hidden;
}




.login-main {
    width: 100%;
    display: flex;
    height: 100vh;

}

.login-left {
    width: 50%;
  
    background-color: rgb(33, 18, 238);
}

.login-right {
    width: 50%;
}

.image {
    height: 50vh;
    position: relative;
}

.login-left img {
    width: 50%;
    top: 90%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-right-container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right form {
    display: flex;
    flex-direction: column;
}

.login-logo {
    align-self: start;
    padding-top: 10px;
}

.login-logo img {
    width: 100px;
}

.login-center {
    margin: auto 0;
}
.input-name  input{
    background-color: rgb(247, 246, 246);
}
.pass-input-div  input{
    background-color: rgb(247, 246, 246);
}

.login-center {
    text-align: center;
    margin-top: 10px;
    padding-top:10px;
}

.head {
    margin-bottom: 50px;
    text-align: center;
    }

.head h1 {
    font-weight: bold;
    font-size: 3rem;
    color: rgb(16, 73, 231);
}

.head p {
    font-family: "poppins";
    font-weight: 600;
    font-size: 1.2rem;
    color: grey;
}

.login-center input[type='email'],
.login-center input[type='password'],
.login-center input[type='text'] {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    box-sizing: border-box;
}

span {
  
    font-size: 13px;
    padding: none;
    text-align: start;
    display: flex;

}
.pass-input-div {
    position: relative;
    padding-top: 29px;
}
.pass-input-div svg {
    font-size: 20px;
    position:absolute;
    right:8%;
    bottom: 39%;
    cursor: pointer;
    outline: none;
}
.login-center button[type='button'],
.login-center button[type='submit'] {
    width: 50%;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

.login-center-options {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.login-center-options .remember-div {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.remember-div label {
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2px;
}



.login-center-buttons {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.login-button {
    width: 100%;

}

.login-center-buttons button:nth-child(1) {
    background-color: rgb(16, 73, 231);
    color: white;
    border: 3px solid rgb(16, 73, 231);
}

.login-center-buttons button:nth-child(1):hover {
    color: rgb(16, 73, 231);
    font-weight: 600px;
    background-color: white;
}

.login-center-buttons button:nth-child(2) {
    background-color: #dbd7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.login-center-buttons button:nth-child(2) img {
    width: 10px;
}

.login-center-buttons button:nth-child(2):hover {
    background-color: #c4c4c457;
}

.login-bottom-p {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 40px;
}

.login-bottom-p a {
    text-decoration: none;
    font-weight: 400;
}

.login-bottom-p a:hover {
    text-decoration: underline;
}

.para{
    font-size: 13px;
    font-weight:400;

}
.redirect a{
    font-size: 15px;
    font-weight: bold;
}
.redirect a:hover{
    color:red;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;


}

.left-image {
    border: 2px solid white;
    background-color: white;
    display: flex;
    height: 270px;
    justify-content: center;
    align-items: center;
    width: 140px;
    transform: translate(5px, 26px);
    transition: 1s;
    border-radius: 6px 0px 0px 6px;
}

.left-image .left-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image .left-value img {
    width: 100%;
    position: absolute;
    top: 135px;
}

.center {
    width: 40%;
    margin-bottom: -55px;
    z-index: 999;
}

.center-image {
    border: 2px solid white;
    background-color: white;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    width: 230px;
    height: 350px;
    transition: 1s;

}

.center-value {
    display: flex;
    justify-content: center;
    align-items: center;

}

.center-value img {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 175px;
}

.right-image {
    border: 2px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 230px;
    width: 160px;
    border-radius: 6px;
    transform: translate(-13px, 20px);
}

.right-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-value img {
    width: 100px;
    position: absolute;
    top: 110px;
}

.image-title {
    text-align: center;
    color: #fff;
}

.image-title .title {
    font-family: "poppins-medium", Helvetica, Arial, Verdana, Tahoma,
        sans-serif;
    margin: 25px 0px;
    font-size: 16px;
}

.subtitle {
    font-family: "poppins-Light", Helvetica, Arial, Verdana, Tahoma,
        sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    width: 85%;
}

.carosel-slider-group {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.carosel-slider-btn {
    width: 8px;
    height: 8px;
    background: white;
    margin: 0px 5px;
    border-radius: 50%;
}
.menu{
    position: absolute;
    bottom: 90%;
    left:90%;
    
    
}

@media(max-width: 600px) {
    .login-logo {
        padding-top: 30px;
    }

    .login-left {
      width: 100%;
    }

    

}

@media (max-width:980px) {
    .left-image {
        width: 120px;
        height: 220px;
    }

    .left-image .left-value img {
        top: 110px;
        width: 110px;
    }

    .center-image {
        width: 165px;
        height: 290px;

    }

    .center-image .center-value img {
        width: 180px;
        height: 130px;
        top: 130px;
    }

    .right-image {
        width: 120px;
        height: 200px;
    }

    .right-image .right-value img {
        top: 100px;
        width: 105px;
    }

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 110px;
        margin-bottom: 50px;
        position: relative;


    }
}

@media (max-width:790px) {
    .left-image {
        width: 90px;
        height: 180px;
    }

    .left-image .left-value img {
        top: 95px;
        width: 80px;
    }

    .center-image {
        width: 145px;
        height: 240px;

    }

    .center-image .center-value {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .center-image .center-value img {
        width: 130px;
        height: 110px;
        top: 120px;

    }

    .right-image {
        width: 110px;
        height: 160px;
    }

    .right-image .right-value img {
        top: 80px;
        width: 90px;
    }

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 50px;
        position: relative;


    }
}

@media (max-width:670px) {
    .left-image {
        width: 70px;
        height: 150px;
    }

    .left-image .left-value img {
        top: 80px;
        width: 70px;
    }

    .center-image {
        width: 130px;
        height: 200px;

    }

    .center-image .center-value {
        justify-content: center;
        align-items: center;
        display: flex;

    }

    .center-image .center-value img {
        width: 100px;
        height: 110px;
        top: 100px;
        left: 135px;

    }

    .right-image {
        width: 90px;
        height: 140px;
    }

    .right-image .right-value img {
        top: 70px;
        width: 80px;
    }

    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 180px;
        margin-bottom: 50px;
        position: relative;


    }

}

@media(max-width: 370px) {
    .login-logo {
        padding-top: 50px;
    }

    .login-center-options {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .login-center-buttons {
        margin-top: 20px;
    }

    .login-center h2 {
        font-size: 3rem;
    }

    .login-center p {
        font-size: 1.5rem;
    }

    .right-image {
        display: none;
    }
}
