.header{
    width: 90%;
    margin: auto;
  }
  
.header{
    height: 34vw;
    margin: 30px auto;
    background: url('../../assets/random/coding-bg1.jpg') no-repeat;
    background-size:cover;
    position: relative;
    background-position: "center";
   justify-content: center;
   border-radius: 10px;
   
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 20%;
    left: 5vw;
    animation: fadeIn 3s;
}
.gradient_color {
    background: linear-gradient(to right, #6137c5, #B794F4); /* Example gradient, adjust colors as needed */
    color: transparent;
}

.header-contents h2{
    font-weight:500;
    color: white;
    font-size: max(3vw,18px);
}
.header-contents p{
    color: white;
    font-size: 16px;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
.signup{
    justify-content: end;
    display: flex;
    align-items: end;
    
}
.signup a{
position: relative;
    margin-right: 8%;
    margin-top: 2%;
    font-size: 15px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
.signup a:hover{
   color: rgb(6, 183, 210);
}
@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       font-size: 12px;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}

.header-contents h2 .coding-skills {
    font-size: 1em;
  }