*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
  }
  body{
    min-height: 100vh;
    background-color: #FCFCFC;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  hr{
    border: none;
    height: 1px;
    background-color: #A9A9A9;
  }
  .app-content{
    display: flex;
  }
  .flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cursor{
    cursor: pointer;
  }
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  margin: auto;
}

.sidebar{

  border:1px solid rgb(80, 78, 78);
height:90vh;
}
.view-content{
 height: 90vh;
  width:90%;
  overflow-y: scroll;
  margin-left: 10%;
}
.logout{
  justify-content: end;
display: flex;
margin-top: 2%;
margin-right: 2%;
}
.logout button{
  width:40px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .app {
    width: 90%;
  }
  .view-content{
    
    overflow-y: scroll;
  }
}