
  body{
    min-height: 100vh;
    background-color: #FCFCFC;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  hr{
    border: none;
    height: 1px;
    background-color: #A9A9A9;
  }
 
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  margin: auto;
}


.view-content{
  display: flex;
 height: 70vh;
  width:100%;
  padding-top: 20px ;
  padding-right: 20px;
 
 
}
.logout{
  justify-content: end;
display: flex;
margin-top: 2%;
margin-right: 2%;
}
.logout button{
  width:40px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

 /* @media (max-width:600px) {
  
.sidebar{
  display: contents;
}

} */
 @media (max-width:1050px) {
  .app {
    width: 80%;
  }
  .view-content{
    
    overflow-y: scroll;
  }
} 