
  .navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    position: relative;
  }
  
  .navbar-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: max-height 0.3s ease-in-out;
  }
  
  .navbar-option {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-option img {
    margin-right: 8px;
  }
  
  .navbar-option p {
    margin: 0;
  }
  
  .navbar-option.active {
    background-color: #4CAF50;
  }
  
  .navbar-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-options {
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
    }
    
    .navbar-options.open {
      max-height: 500px; /* Adjust as needed */
    }
    
    .navbar-option {
      padding: 10px;
      text-align: center;
      width: 100%;
    }
    
    .navbar-toggle {
      display: block;
    }
  }
  